<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <h1 class="title"><%= title %></h1>
  <a href="/lists/edit-list" class="button is-primary"
    ><strong>Make a New List</strong></a
  >
  <ul>
    <% for (let list of lists) { %>
    <li><%= list.name %></li>
    <% } %> <% if (lists.length === 0) { %>
  </ul>
  <p>THERE ARE NO LISTS!!!</p>
  <% } %>
</main>
<%- include("../partials/footer.ejs") %>
