<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
    <% if (locals._id) { %>
      <h1 class="title is-1">Update List Info</h1>
      <form action=<%- `/lists/update-list/${_id}?_method=PUT` %> method="post">
    <% } else { %>
      <h1 class="title is-1">New List Form</h1>
      <form action="/lists/new-list" method="post">
    <% } %>
      <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
          <!-- prettier-ignore -->
          <input
            type="text"
            class="input"
            id="name"
            name="name"
            <% if (locals.name) { %>
              value=<%- name %>
            <% } %>
          />
        </div>
      </div>
      <div class="field">
        <label for="description" class="label">Description</label>
        <div class="control">
          <!-- prettier-ignore -->
          <input
            type="text"
            class="input"
            id="description"
            name="description"
            <% if (locals.description) { %>
              value=<%- description %>
            <% } %>
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label for="mainList" class="checkbox">
            <input type="checkbox" name="mainList" id="mainList">
            Make this list your main list?
          </label>
        </div>
      </div>
      <button class="button is-primary" type="submit">
        <strong>Submit</strong>
      </button>
    </form>
    <% if (locals._id) { %>
      <button data-target="delete-modal" class="button modal-button is-danger"><strong>Delete</strong></button>
    <div id="delete-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <h2 class="title">Are you sure you want to delete this list?</h2>
          <div class="buttons">
            <form action=<%- `/lists/delete-list/${_id}?_method=DELETE` %> method="post">
              <button class="button is-danger">
                <strong>Yes</strong>
              </button>
            </form>
            <button class="button no-button"><strong>No</strong></button>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <% } %>
  </main>
<%- include("../partials/footer.ejs") %>
