<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <div class="content">
    <h1 class="title"><%= list.name %></h1>
    <p class="subtitle"><%= list.description %></p>
    <p class="subtitle"><%= list.userId.username %></p>
    <% for (let game of list.games) { %>
      <div class="box">
        <a href=<%- `/games/%{game._id}` %>>
          <h2 class="title"><%= game.name %></h2>
          <p class="subtitle"><%= game.genre %></p>
        </a>
      </div>
    <% } %>
    <% if (list.games.length === 0) { %>
      <h2 class="title">There are no games in this list</h2>
    <% } %>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
