<%- include("../partials/header.ejs") %> 
<%- include("../partials/navbar.ejs") %>
<main class="container">
  <% if (locals._id) { %>
    <h1 class="title is-1">Update List Info</h1>
    <form action=<%- `/lists/update-list/${_id}?_method=PUT` %> method="post"> 
  <% } else { %>
    <h1 class="title is-1">New List Form</h1>
    <form action="/lists/new-list" method="post">
  <% } %>
    <%- include("../partials/textInput.ejs", { name: "name", data: locals.name, type: "text" }) %>
    <%- include("../partials/textInput.ejs", { name: "description", data: locals.description, type: "text" }) %> 
    <div class="field">
      <div class="control">
        <label for="mainList" class="checkbox">
          <input 
            type="checkbox" 
            name="mainList" 
            id="mainList" 
          />
          Make this list your main list? (this will replace your previous main list)
        </label>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="private" class="checkbox">
          <input 
            type="checkbox" 
            name="private" 
            id="private"
            <% if (locals.private) { %>
              checked="checked"
            <% } %>
          >
          Make list private?
        </label>
      </div>
    </div>
    <div class="field is-grouped is-justify-content-space-between">
      <%- button("submit") %>
      <% if (locals._id) { %>
        <%- button("delete") %>
      <% } %>
    </div>
  </form>
  <% if (locals._id) { %> 
    <%- include("../partials/modal.ejs", { type: "list", _id }) %> 
  <% } %>
</main>
<%- include("../partials/footer.ejs") %>
