<%- include("../partials/header.ejs") %> 
<%- include("../partials/navbar.ejs") %>
<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds is-offset-2">
        <div class="content">
          <div class="is-flex is-justify-content-space-between block">
            <div>
              <h1 class="title"><%= list.name %> <%= list.private ? "(private)" : "" %></h1>
              <p class="subtitle"><%= list.description %></p>
              <a href=<%- `/users/${list.user._id}` %> class=""><%= list.user.username %></a>
            </div>
            <div class="is-flex is-align-items-baseline">
              <% if (!list.private) { %>
                <span class="mr-4"><%- shouldThereBeAnS(list.likes, "Like") %> </span>
              <% } %>
              <%- editLikeButton(list, user, "list") %>
            </div>
          </div>
          <% for (let game of list.games) { %>
            <div class="box">
              <div class="is-flex is-justify-content-space-between">
                <% if (game.name) { %>
                  <a href=<%- `/games/${game._id}` %>>
                    <h2 class="title"><%= game.name %></h2>
                  </a>
                <% } else { %>
                  <p>Deleted Game</p>
                <% } %>
                <% if (list.user._id.toString() === user._id.toString()) { %>
                  <form action=<%- `/lists/remove-list-game/${list._id}/${game._id}?_method=DELETE` %> method="post">
                    <button class="delete is-large"></button>
                  </form>
                <% } %>
              </div>
              <p class="subtitle"><%= game.genre %></p>
            </div>
          <% } %>
          <% if (list.games.length === 0) { %>
            <h2 class="subtitle is-4">There are no games in this list</h2>
          <% } %>
        </div>
      </div>
    </div>
    <% if (!list.private) { %>
      <%- include("../partials/comments.ejs", { comments: list.comments, type: "list", post: list, user }) %>
    <% } %>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
