<div class="field">
    <div class="control">
      <label for="<%- value %>" class="checkbox has-text-weight-bold">
        <input 
          type="checkbox" 
          name="<%- name %>" 
          id="<%- value %>" 
          value="<%- value %>"
          <% if (locals.checked) { %>
            checked="checked"
          <% } %>
        />
        <%= text %>
      </label>
    </div>
</div>
