<div class="is-flex is-justify-content-space-between block">
    <div>
        <a href=<%- `/users/${review.user._id}` %>>
        <span class="has-text-weight-bold"><%= review.user.username %></span>
        </a>
        rated it <span class="has-text-weight-bold"><%= review.rating %></span>
    </div>
    <p><%= review.dateReviewed.toLocaleDateString() %></p>
</div>
<p class="block"><%= truncate(review.body, 300) %></p>
<div class="is-flex is-justify-content-space-between block">
    <a href=<%- `/reviews/${review._id}` %> class="has-text-weight-bold">Read Full Review</a>
    <span><%- likes(review.likes) %></span>
</div>