<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>
<main class="container">
  <p>USER: <%= user %></p>
  <div class="tile is-ancestor">
    <div class="tile is-4 is-parent is-danger">
      <div class="tile is-child box">
        <% if (locals.mainList) { %>
          <a href=<%- `/lists/${mainList._id}` %>>
            <h2 class="title"><%= mainList.name %></h2>
          </a>
          <ul>
            <% for (let game of mainList.games) { %>
            <li><a href=<%- `/games/${game._id}` %>><%= game.name %></a></li>
            <% } %>
          </ul>
        <% } else { %>
          <h2 class="title">No Main List</h2>
        <% } %>
      </div>
    </div>
    <div class="tile is-8 is-parent is-info">
      <div class="tile is-child box">
        <div class="is-flex is-justify-content-space-between">
          <h2 class="title">Your Lists</h2>
          <a href="/lists/edit-list" class="button is-primary"><strong>Create a New List</strong></a>
        </div>
        <ul>
          <% for (let list of lists) { %>
          <li>
            <a href=<%- `/lists/${list._id}` %>><%= list.name %></a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</main>
<%- include("./partials/footer.ejs") %>
