<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>
<main class="section">
  <div class="container">
    <h1 class="title">Dashboard</h1>
    <div class="tile is-ancestor">
      <div class="tile is-4 is-parent is-danger">
        <div class="tile is-child box">
          <% if (locals.mainList) { %>
            <a href=<%- `/lists/${mainList._id}` %>>
              <h2 class="title"><%= mainList.name %></h2>
            </a>
            <ul>
              <% for (let game of mainList.games) { %>
              <li><a href=<%- `/games/${game._id}` %>><%= game.name %></a></li>
              <% } %>
            </ul>
          <% } else { %>
            <h2 class="title">No Main List</h2>
          <% } %>
        </div>
      </div>
      <div class="tile is-8 is-parent is-info">
        <div class="tile is-child box">
          <div class="is-flex is-justify-content-space-between">
            <h2 class="title">Your Lists</h2>
            <a href="/lists/edit-list" class="button is-primary has-text-weight-bold">
              <span class="icon is-medium">
                <i class="fa-solid fa-plus"></i>
              </span>
            </a>
          </div>
          <ul>
            <% for (let list of lists) { %>
            <li>
              <a href=<%- `/lists/${list._id}` %>><%= list.name %></a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("./partials/footer.ejs") %>
