<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>
<main class="section">
  <div class="container">
    <h1 class="title">Dashboard</h1>
    <div class="columns">
      <div class="column is-4">
        <div class="box">
          <div class="is-flex is-justify-content-space-between">
            <h2 class="title">Your Lists</h2>
            <a href="/lists/edit-list" class="button is-primary has-text-weight-bold">
              <span class="icon is-medium">
                <i class="fa-solid fa-plus"></i>
              </span>
            </a>
          </div>
          <ul>
            <% for (let list of lists) { %>
            <li>
              <a href=<%- `/lists/${list._id}` %>><%= list.name %></a>
            </li>
            <% } %>
          </ul>
        </div>
        <div class="box">
          <h2 class="title">New Games</h2>
          <% for (let game of newGames) { %>
            <div class="media">
              <div class="media-left" style="width: 5rem;">
                <figure class="image is-2by3">
                  <img
                    style="object-fit: contain;"
                    src="<%- game.image %>"
                    alt="<%- game.name %>"
                  />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <a href=<%- `/games/${game._id}` %>><p class="subtitle"><%= game.name %></p></a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="column is-8">
        <div class="box">
          <% if (locals.mainList) { %>
            <a href=<%- `/lists/${mainList._id}` %>>
              <h2 class="title mb-5"><%= mainList.name %></h2>
            </a>
            <% if (mainList.games.length > 0) { %>
              <% for (let game of mainList.games) { %>
                <div class="media">
                  <div class="media-left" style="width: 5rem;">
                    <figure class="image is-2by3">
                      <img
                        style="object-fit: contain;"
                        src="<%- game.image %>"
                        alt="<%- game.name %>"
                      />
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <a href=<%- `/games/${game._id}` %>><p class="subtitle"><%= game.name %></p></a>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } else { %>
              <p class="subtitle mt-4">There are no games in this list.</p>
            <% } %>
          <% } else { %>
            <h2 class="title">No Main List</h2>
          <% } %>
        </div>
        <div class="box">
          <h2 class="title">Recent Reviews</h2>
          <% for (let review of recentReviews) { %>
            <div class="media">
              <div class="media-content">
                <a href=<%- `/games/${review.game._id}` %>>
                  <h3 class="title is-5"><%= review.game.name %></h3>
                </a>
                <%- include("./partials/review.ejs", { review }) %>
              </div>
            </div>
          <% }%>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("./partials/footer.ejs") %>
