<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="section">
  <div class="container">
    <div class="is-flex is-justify-content-space-between">
      <h1 class="title">All Games</h1>
      <a href="games/edit-game" class="button is-primary has-text-weight-bold">
        <span class="icon">
          <i class="fa-solid fa-plus"></i>
        </span>
      </a>
    </div>
    <div class="columns">
      <div class="column is-3-desktop is-4-tablet">
        <form method="get" action="games">
          <%- include("../partials/textInput.ejs", { name: "name", type: "text", data: name, label: "Name"}) %>
          <%- include("../partials/gameGenres.ejs", { checkedGenres }) %>
          <button type="submit" class="button is-primary has-text-weight-bold">Filter</button>
        </form>
      </div>
      <div class="column is-9-desktop is-8-tablet">
        <% for (let game of games) { %>
          <div class="media">
            <div class="media-left" style="width: 10rem;">
              <figure class="image is-2by3">
                <%- include("../partials/gameImage.ejs", { game, style: "object-fit: contain;" }) %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <a href=<%- `/games/${game._id}` %>>
                  <h2 class="title is-size-5-mobile is-size-4-tablet is-size-3-desktop"><%= game.name %></h2>
                </a>
                <p class="subtitle is-size-6-mobile is-size-5-tablet"><%= game.genres %></p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
