<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <% if (!game) { %>
  <p>THERE IS NO GAME!!!</p>
  <% } else { %>
  <div class="columns">
    <div class="column is-half">
      <figure class="image">
        <img src=<%-`${game.image}`%> alt=<%-`${game.name}`%> />
      </figure>
    </div>
    <div class="column is-half">
      <div class="box">
        <h2 class="title"><%= game.name %></h2>
        <h3 class="subtitle"><%= game.genre %></h3>
        <a href=<%= `update-game/${game._id}` %> class="button"><strong>Update</strong></a>
        <button data-target="delete-modal" class="button delete-button is-primary"><strong>Delete</strong></button>
      </div>
      <div class="box">
        <% if (userReview) { %>
          <h2 class="title">Your Review</h2>
          <p>Rating: <%= userReview.rating %></p>
          <p>Completed: <%= userReview.completed %></p>
          <p>Review Text: <%= userReview.body %></p>
          <p>Review Date: <%= userReview.dateReviewed.toLocaleString() %></p>
          <a href=<%- `/reviews/${userReview._id}` %> class="button is-primary"><strong>Read Full Review</strong></a>
        <% } else { %>
          <h2 class="title">You haven't written a review of this game</h2>
          <a href=<%- `/reviews/edit-review/${game._id}` %> class="button is-primary">Write a Review</a>
        <% } %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <h2 class="title">All Reviews</h2>
      <% for (let review of allReviews) { %>
        <div class="box">
          <p><%= review.rating %></p>
          <p><%= review.completed %></p>
          <p><%= review.body %></p>
          <p><%= review.dateReviewed.toLocaleString() %></p>
          <a href=<%- `/reviews/${review._id}` %> class="button is-primary"><strong>Read Full Review</strong></a>
        </div>
      <% } %>
    </div>
  </div>
  <div id="delete-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title">Are you sure you want to delete this game?</h2>
        <div class="buttons">
          <form action=<%- `delete-game/${game._id}?_method=DELETE` %> method="post">
            <button class="button is-primary">
              <strong>Yes</strong>
            </button>
          </form>
          <button class="button no-button"><strong>No</strong></button>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <% } %>
</main>
<%- include("../partials/footer.ejs") %>