<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <% if (!game) { %>
  <p>THERE IS NO GAME!!!</p>
  <% } else { %>
  <div class="columns">
    <div class="column is-half">
      <figure class="image">
        <img src=<%-`${game.image}`%> alt=<%-`${game.name}`%> />
      </figure>
    </div>
    <div class="column is-half">
      <div class="box">
        <h2 class="title"><%= game.name %></h2>
        <h3 class="subtitle"><%= game.genre %></h3>
        <div class="buttons">
          <form action=<%- `/lists/add-list-game/${game._id}?_method=PUT` %> method="post">
            <div class="field">
              <label for="listId" class="label">List</label>
              <div class="control">
                <div class="select">
                  <select name="listId" id="listId">
                    <% for (let list of lists) { %>
                      <option value=<%- `${list._id}` %>><%= list.name %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <button data-target="add-game-modal" class="button is-primary"><strong>Add Game to List</strong></button>
          </form>
          <a href=<%= `edit-game/${game._id}` %> class="button"><strong>Update Game Info</strong></a>
        </div>
      </div>
      <div class="box">
        <% if (userReview) { %>
          <h2 class="title">Your Review</h2>
          <p>Rating: <%= userReview.rating %></p>
          <p>Completed: <%= userReview.completed %></p>
          <p>Review Text: <%= userReview.body %></p>
          <p>Review Date: <%= userReview.dateReviewed.toLocaleString() %></p>
          <a href=<%- `/reviews/${userReview._id}` %> class="button is-primary"><strong>Read Full Review</strong></a>
        <% } else { %>
          <h2 class="title">You haven't written a review of this game</h2>
          <a href=<%- `/reviews/edit-review/${game._id}` %> class="button is-primary"><strong>Write a Review</strong></a>
        <% } %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <h2 class="title">All Reviews</h2>
      <% for (let review of allReviews) { %>
        <div class="box">
          <p><%= review.rating %></p>
          <p><%= review.completed %></p>
          <p><%= review.body %></p>
          <p><%= review.dateReviewed.toLocaleString() %></p>
          <a href=<%- `/reviews/${review._id}` %> class="button is-primary"><strong>Read Full Review</strong></a>
        </div>
      <% } %>
    </div>
  </div>
  <% } %>
</main>
<%- include("../partials/footer.ejs") %>