<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <h1 class="title is-1">Review Form</h1>
  <% if (locals._id) { %>
    <form action=<%= `/reviews/update-review/${_id}?_method=PUT` %> method="post">
  <% } else { %>
    <form action=<%= `/reviews/new-review/${game}` %> method="post">
  <% } %>
    <div class="field">
      <label for="rating" class="label">Rating</label>
      <div class="control">
          <div class="select">
            <select name="rating" id="rating">
              <%- options("ratings", locals.rating) %>
            </select>
          </div>
      </div>
    </div>
    <div class="field">
      <label for="completed" class="label">Completed</label>
      <div class="control">
          <div class="select">
            <select name="completed" id="completed">
              <%- options("completed", locals.completed) %>
            </select>
          </div>
      </div>
    </div>
    <div class="field">
      <label for="timeSpentPlaying" class="label">Time Played</label>
      <div class="control">
        <input type="number" class="input" name="timeSpentPlaying" id="timeSpentPlaying" min="0" step="0.1" value="<%- locals.timeSpentPlaying %>">
      </div>
    </div>
    <div class="field">
        <label for="body" class="label">Review Text</label>
        <div class="control">
            <textarea name="body" id="" cols="30" rows="10" class="textarea"><%- locals.body %></textarea>
        </div>
    </div>
    <div class="field is-grouped is-justify-content-space-between">
      <%- button("submit") %>
      <% if (locals._id) { %>
        <%- button("delete") %>
      <% } %>
    </div>
  </form>
  <% if (locals._id) { %>
    <%- include("../partials/modal.ejs", { type: "review", _id }) %>
  <% } %>
</main>
<%- include("../partials/footer.ejs") %>
