<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <h1 class="title"><a href=<%- `/games/${review.game._id}` %>><%= review.game.name %></a> Review</h1>
        <p class="subtitle">
          Date Reviewed: <%= review.dateReviewed.toLocaleString() %>
        </p>
        <p class="subtitle">Rating: <%= review.rating %></p>
        <p class="subtitle">Completed: <%= review.completed %></p>
        <p class="subtitle">User: <%= review.user.username %></p>
        <p><%= review.body %></p>
        <% if (review.user._id.toString() === user._id.toString()) { %>
          <a href=<%- `/reviews/edit-review/${review.game._id}` %> class="button is-primary has-text-weight-bold">Update Review</a>
        <% } %>
      </div>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
