<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <h1 class="title is-1">Review Form</h1>
  <% if (locals._id) { %>
    <form action=<%= `/reviews/update-review/${_id}?_method=PUT` %> method="post">
  <% } else { %>
    <form action=<%= `/reviews/new-review/${game._id}` %> method="post">
  <% } %>
    <div class="field">
      <label for="rating" class="label">Rating</label>
      <div class="control">
          <div class="select">
            <select name="rating" id="rating">
              <% for (let value of ratingValues) { %>
                <option value="<%= value %>" <%- rating === value ? "selected=selected": "" %>><%= value %></option>
              <% } %>
            </select>
          </div>
      </div>
    </div>
    <div class="field">
      <label for="completed" class="label">Completed</label>
      <div class="control">
          <div class="select">
            <select name="completed" id="completed">
              <% for (let value of completedValues) { %>
                <option value="<%= value %>" <%- value === locals.completed ? "selected=selected" : "" %>><%= value %></option>
              <% } %>
            </select>
          </div>
      </div>
    </div>
    <div class="field">
        <label for="body" class="label">Review Text</label>
        <div class="control">
            <textarea name="body" id="" cols="30" rows="10" class="textarea"><%- locals.body %></textarea>
        </div>
    </div>
    <div class="field is-grouped is-justify-content-space-between">
      <div class="control">
        <button class="button is-primary has-text-weight-bold" type="submit">
          Submit
        </button>
      </div>
      <% if (locals._id) { %>
      <div class="control">
        <button type="button" data-target="delete-modal" class="button modal-button is-danger has-text-weight-bold">
          Delete
        </button>
      </div>
      <% } %>
    </div>
  </form>
  <% if (locals._id) { %>
    <%- include("../partials/modal.ejs", { type: "review", _id }) %>
  <% } %>
</main>
<%- include("../partials/footer.ejs") %>
