<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <h1 class="title">Game Review</h1>
        <p class="subtitle">
          Date Reviewed: <%= review.dateReviewed.toLocaleString() %>
        </p>
        <p class="subtitle">Rating: <%= review.rating %></p>
        <p class="subtitle">Completed: <%= review.completed %></p>
        <p><%= review.body %></p>
        <% if (review.userId.toString() === user._id.toString()) { %>
          <a href=<%- `/reviews/edit-review/${review.gameId}` %> class="button is-primary"><strong>Update Review</strong></a>
        <% } %>
      </div>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
